footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(#0C2E45, #38495D);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}